html{
    box-sizing: border-box;
    font-size: 100%; //使em跟rem相同
}



*,*:before,*:after{
   box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    color: $grayishBlue;
    font-weight: 300;

    &.noscroll{
        overflow: hidden;
    }
}

a{
    text-decoration: none;
    color: $grayishBlue;
}

button,.button{
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    background: linear-gradient(90deg,$limeGreen,$brightCyan);
    cursor: pointer;
    border: none;
    font-weight: 400;
    color:$white
}
.flex{
    display: flex;
    &-jc-sb{
        justify-content: space-between;
    }
    &-js-c{
        justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }
}

.hide-for-moblie{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}

.container{
    padding-left:  1.5rem;
    padding-right:  1.5rem;
}