@import '_variable';
@import '_mixin';
@import 'animate';
@import '_global';

.header{
    &.open{     
        .hamburger{
            >span{
                &:first-child{
                    transform:translateY(8px) rotate(45deg) ;
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    transform:translateY(-8px) rotate(-45deg) ;
                }
            }
        }
        .header-menu{
            animation: fade-in 200ms ease-in-out  forwards;
        }
        .overlay{
            animation: fade-in 200ms ease-in-out  forwards;
        }
    }
    .overlay{
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient($darkBlue,transparent);
        visibility: hidden;
        animation: fade-out 200ms ease-in-out  forwards;
        z-index: 1;
    }
    nav{
        position: relative;
        z-index: 2;
        background-color: $white;
        padding-top:1.0625rem;
        padding-bottom:1.0625rem;
        .logo{
            img{
                width: 8.8125rem;
                height: 1.375rem;
            }
        }

        .hamburger{

            > span{
                display: block;
                width: 26px;
                height: 3px;
                background-color: $darkBlue;
                transition: all 200ms ease-in-out;
                
                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
        }
    }

    &-link{
        a{
            position: relative;
            font-size: $font-sm;
            transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: 2rem;
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 5px;
                bottom: -30px;
                background: linear-gradient(90deg,$limeGreen,$brightCyan);
                opacity: 0;
                transition:  opacity ease-in-out 300ms;
            }

            &:hover{
                color:$darkBlue;
                &::before{
                   opacity: 1;
                }
            }
           
        }
    }

   

    &-menu{
        visibility: hidden;
        padding: 1.625rem;
        z-index: 2;
        background: $white;
        margin: 0 1.5rem;
        position: absolute;
        width: calc(100% - 3rem);
        margin-top: 1.5rem;
        border-radius: 5px;
        animation: fade-out 200ms ease-in-out  forwards;
        a{
            color:$darkBlue;
            padding: 0.625rem;
            display: block;
            text-align: center;
        }
    }
}



 .hero{
     background: $veryLightGray;
     
     .container{
        @include  breakpoint-up(large){
            display: flex;
            min-height: 41rem;
            align-items: center;
         }
     }
     &-img{
        @include  breakpoint-up(large){
            flex:3;
            order: 2;
            align-self: stretch;
            //background-image: url("../../images/bg-intro-desktop.svg");
            //background-position: left top;
            background-image: none;;
         }


         @include breakpoint-up(medium){
             min-height: 25rem;
         }

        position: relative;
        background-image: url("../../images/bg-intro-mobile.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 17.5rem;

        &::after{
            content: '';
            position: absolute;
            background-image: url("../../images/image-mockups.png");
            background-position: center bottom;
            background-size: 93%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            @include breakpoint-up(large){
                width: 120%;
                height: 122%;
                background-size: 94%;
                background-position: center 150%;
                left:22%;
            }
            @include breakpoint-down(medium){
                @include breakpoint-up(small){
                    background-size: 52%;
                }
            }
        }
        &::before{
            
            @include breakpoint-up(large){
                content: '';
                position: absolute;
                background-image: url("../../images/bg-intro-desktop.svg");
                background-position: center bottom;
                background-repeat: no-repeat;
                height: 100%;
                width: 150%;
                background-size: 122%;
                background-position: 0 83%;
            }
        }
     }

     &-text{

        @include  breakpoint-up(large){
            flex: 2;
            text-align: left;
         }

        text-align: center;
        h1{
            font-size: 2.31rem;
            margin-bottom: 1.5rem;
            @include  breakpoint-up(large){
                font-size: $font-xlg;
             }
        }
     }
 }



 .feature{
    background: $lightGrayishBlue;
    text-align: center;
    @include breakpoint-up(medium){
        text-align: left;
    }
    &-intro{
        margin-bottom: 3.75rem;
        @include breakpoint-up(large){
            width: 60%;
        }
    }
    &-grid{
        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &-item{
        padding: 0.9375rem;
        @include breakpoint-up(medium){
            flex-basis:50%;
        }
        @include breakpoint-up(large){
            flex: 1;
        }
    }

    &-img{
        margin-bottom: 1.875rem;
        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
        }
    }

    &-title{
        font-size: 1.25rem;
        font-weight: 300;
        color: $darkBlue;
        line-height: 1.15;
        margin-bottom: 1rem;
        @include breakpoint-up(large){
            font-size: 1.5rem;
            margin-bottom:1.5rem;
        }
    }

    &-description{
        font-size: 0.875rem;
        line-height: 1.5;
    }
 }


 .articles{
    background: $veryLightGray;
 }
 .article{
     
     &-container{

     }

     &-grid{
        display: grid;
        gap: 1.875rem;
        grid-template-columns: 1fr;
        @include breakpoint-up(medium){
            grid-template-columns: repeat(2,1fr);
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(4,1fr);
        }
      //  grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
     }

     &-item{
        border-radius: 5px;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0 3px 12px  rgba(0,0,0,0.15);
        transition:all  150ms ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
     }

     &-img{
        height: 12.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

     }

     &-text{
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        color:$grayishBlue;
        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625rem;
        }
     }
     

     &-author{
        font-size: 0.625rem;
        margin-bottom: 0.75rem;
     }
     &-title{
         font-size: 1.0625rem;
         color: $darkBlue;
         line-height: 1.2;
         margin-bottom: 0.5rem;
     }
     &-description{
        font-size: 0.8125rem;
     }

 }

 .footer{
     color:$white;
     background: $darkBlue;
     padding: 2.5rem;
     text-align: center;

    .container{
        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
            "img col1 col2 cta"
            "social col1 col2 copy"
            ;
            justify-items: start;
        }
    }
   

     a{
         color:$white;
     }

     &-img{
        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
        
        display: inline-block;
        @include breakpoint-up(large){
            grid-area: img;
        }
     }

     &-social{
        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;
        }
        a{
            display: inline-block;
            svg path{
                transition: fill 150ms ease-in-out;
            }
            &:hover svg path{
                fill:$limeGreen;
                }
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
     }

     &-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;
        @include breakpoint-up(large){
            align-items: flex-start;
            justify-content: space-between;
        }
         &.col1{
            @include breakpoint-up(large){
                grid-area: col1;
            }
         }

         &.col2{
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
            @include breakpoint-up(large){
                grid-area: col2;
            }
         }
         a{
                line-height: 2.25;
                transition:color  150ms ease-in-out;
                &:hover{
                    color:$limeGreen
                }
         }
     }

     &-cta{
        @include breakpoint-up(large){
            grid-area: cta;
            justify-self: right;
            text-align: right;
            
        }
        a.button{
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
        }
     }

     &-copy{
        font-size: 0.9375rem;
        color:$grayishBlue;
        @include breakpoint-up(large){
            grid-area: copy;
            align-self:end;
            justify-self: end;
        }
     }
 }